# Environment
.env
.env.*
!.env.example

# Dependencies
node_modules/
vendor/

# Laravel
/backend/vendor/
/backend/node_modules/
/backend/storage/logs/*.log
/backend/.env

# React
/frontend/node_modules/
/frontend/dist/
/frontend/.env
/frontend/.env.*

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Docker
*.log